<div class="page-header">
  <h3>Proposed Trade #<%= @proposed_trade.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><%= @proposed_trade.status %></dd>

      <dt>Publicly visible if accepted</dt>
      <dd><%= @proposed_trade.publicly_visible_if_accepted %></dd>

      <dt>Star rating</dt>
      <dd><%= @proposed_trade.star_rating %></dd>

      <dt>Proposer</dt>
      <dd><%= @proposed_trade.proposer_id %></dd>

      <dt>Recipient</dt>
      <dd><%= @proposed_trade.recipient_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/proposed_trades" class="btn btn-primary">
        Back
      </a>
      <a href="/proposed_trades/<%= @proposed_trade.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_proposed_trade/<%= @proposed_trade.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Proposed trade has many inventories -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Inventories
      </li>

      <% @proposed_trade.inventories.each do |inventory| %>
        <li class="list-group-item">
          <a href="/inventories/<%= inventory.id %>">
            <%= inventory.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/inventories/<%= inventory.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/inventories/<%= inventory.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_inventory/<%= inventory.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Proposed trade has many line_items -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Line_items
      </li>

      <% @proposed_trade.line_items.each do |line_item| %>
        <li class="list-group-item">
          <a href="/line_items/<%= line_item.id %>">
            <%= line_item.inventory_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/line_items/<%= line_item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/line_items/<%= line_item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_line_item/<%= line_item.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Proposed trade has many comments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Comments
      </li>

      <% @proposed_trade.comments.each do |comment| %>
        <li class="list-group-item">
          <a href="/comments/<%= comment.id %>">
            <%= comment.proposed_trade_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/comments/<%= comment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/comments/<%= comment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
